@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a,#3a4452);

}
#calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 15px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(111, 112, 114, 0.5);
}
input{
    width: 339px;
    border: none;
    padding: 30px;
    margin: 10px;
    text-align: right;
    font-size: 40px;
    box-shadow: 0px 3px 15px rgba(26, 26, 28, 0.3);
    background: transparent;
    cursor: pointer;
    border-radius: 15px;
}
input::placeholder{
    color: white;
}
button{
    cursor: pointer;
    height: 65px;
    width: 65px;
    margin: 11px;
    border-radius: 50%;
    font-size: 20px;
    background: transparent;
    color: white;
    box-shadow: 0px 3px 15px rgba(106, 108, 111, 0.5);
    border: none;
    
}
#op{
    color: yellowgreen;
}
#eq{
    background-color: yellowgreen;
}
