.f2{
    color: brown; text-align: center; background-color: aqua;
}
#f1{
    color: red;
}
#f3{
    background-color: yellow; border-width: 1px ;border-style: solid;border-color: blue;
}
.f4{
    width: 200px;height: 100px;
    border: 2px solid red;
    background-color: bisque;
    margin: 50px 50px;
    padding: 5px ;
    overflow: scroll;
    
}
#f5{
    color: red;
    border: 2px green;
    outline: 2px red;
    outline-offset: 2px;
}
body{
    background-image: url();
    background-repeat: no-repeat;
    background-color: rebeccapurple ;
    background-position:right ;
    
}
.f6{
    width: 200px; height: 100px;
    border: 2px yellow;
    background-color: green;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: left;
    
}
.f7{
    width: 80px; height: 80px;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    
}
.f8{
    color: yellow;
}