

/************ moblie navbar top start ***********/
.m-nav-top{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}
.m-logo{
    font-style: italic;
}
.m-nav{
    background-color: var(--primary-clr);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.m-search{
    background-color: var(--secondary-clr);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-src{
    display: flex;
    width: 86%;
}
.m-src input{
    width: 100%;
    padding: 7px;
    font-size: 1rem;
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    border: none;
}
.m-src button{
    width: 50px;
    height: 34px;
    padding: 5px;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background-color: var(--font-clr);
    transition: 0.5s;
}
.m-src button:hover{
    background-color: var(--primary-clr);
}
.m-location{
    margin-left: 5px;
    margin-right: 5px;
}
.m-deliver{
    color: var(--font-clr);
}

/************ moblie navbar top end ***********/


/*********** moblie navbar buttom start  **********/

.m-nav-btm{
    width: 100%;
    height: 65px;
    display: none;
    background-color: var(--forth-clr);
}
.m-nav-btm-items{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.m-menu button{
    background:none;
    height: 40px;
}
.m-percent button{
    background: none;
    border-radius: 50%;
    padding: 1px; 
}
.m-percent img{
    width: 35px;
}
.m-card button{
    background:none;
}
.m-home-btn{
    width: 50px;
    height: 50px;
    background-color: var(--secondary-clr);
    border-radius: 50%;
    padding: 1px;
    color: var(--font-clr);
}
.m-profile img{
    width: 35px;
    /* height: 40px; */
    /* filter: contrast(); */
}
.m-profile button{
    border-radius: 50%;
    background:none;
}

/*********** moblie navbar buttom end  **********/


@media screen and (max-width:660px){
 
/********** navbar top start********/
    nav{
        display: none;
    }
    .m-nav-top{
        display: block;
    }
/********** navbar top end ********/

/********** login and singup start********/
    .login{
        width: 345px;
    }
    .signup{
        width: 345px;
    }
/********** login and singup end********/

/*********** footer starts ***********/
    .footer{
        flex-direction: column;
    }
    .follow{
        width: 100%;
    }
    .information{
        margin-top: 30px;
        width: 100%;
        padding: 15px;
    }
    .contact{
        width: 100%;
        padding: 15px;
    }
/*********** footer end ***********/

/*********** moblie navbar buttom start  **********/
    .m-nav-btm{
        position: sticky;
        right: 0;
        left: 0;
        bottom: 0;
        display: block;
        z-index: 1000;
        }

/*********** moblie navbar buttom end  **********/
}