*{
    margin: 0;
    padding: 0;
    background: border-box;
    font-family: sans-serif;
    
}
body{
    
    min-height: 100vh;
    display: flex;
    justify-content: center;
    display: flex;
    justify-items: center;
    align-items: center;
    
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

    /*background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);*/
}
#container{
   
    position: relative;
    
}
#clock{
    width: 300px;
    height: 300px;
    border: 5px;
    border-color: rgb(19, 16, 11);
    border-radius: 50%;
    background: wheat;
    box-shadow: 0px 3px 15px rgba(6, 8, 12, 0.779);
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#fa{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 18px;
    text-align: center;

}
#fb{
    color: brown;
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 19px;
}
#clock::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(162, 6, 6);
    border-radius: 50%;
    z-index: 2;
}
.hand i{
    width: var(--w);
    height: var(--h);
    border-radius: 30%;
    background-color: var(--clr);
    position: absolute;
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
#f2{
   /* width: 3px;
    height: 10px;
    background-color: #191111;*/
    position: absolute;
    transform: rotate(calc(6deg * var(--j)));
    inset: 5px;
    text-align: center;
    font-size: 11px;
    color: #9c5411;
    
}
#clock:hover{
    background: transparent;
}
/*
#div3{
    width: 4px;
    height: 10px;
    background-color: #191111;
    position: absolute;
    transform: rotate(calc(360deg * var(--d)));
    inset: 5px;
    text-align: center;
}*/